/*-- scss:defaults --*/

// fonts
//@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

//$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$primary-font : 'Lato';
$presentation-heading-color: #2774AE;
$presentation-heading-weight: normal;
$presentation-title-slide-text-align: "left";
$link-color: #2774AE;
$code-block-font-size: 0.9em;
$code-block-bg: #ECECEC;
/*-- scss:rules --*/

.reveal h1 {
  font-weight: normal;
}

.reveal h2 {
  font-weight: normal;
}

:root {
  --r-main-font-size: 30px;
}

details>summary {
  font-size: 0.75em;
}

#title-slide .title {
  font-weight: normal
}

#title-slide .subtitle {
  color: #000000;
  font-weight: normal
}

#title-slide .author {
  text-align: right;
}

#title-slide .institute {
  text-align: right;
}

#title-slide .affiliation {
  text-align: left;
}

.center {
  text-align: left;
}


.giant {
  font-size: 2em;
}

.xlarge {
  font-size: 1.5em;
}

.large {
  font-size: 1.2em;
}

.medium {
  font-size: 0.9em;
}

.msmall {
  font-size: 0.825em;
}


.small {
  font-size: 0.75em;
}

.xsmall {
  font-size: 0.66em;
}

.reveal code {
  font-size: 0.8em;
}

.reveal .cell {
  margin-bottom: 15px;
}

.reveal table td {
  border-bottom: 0;
  padding-top: 2px;
  padding-bottom: 2px
}

blockquote > p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

blockquote {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.reveal pre.sourceCode code {
  max-height: 550px;
}

.reveal div.sourceCode {
  margin-bottom: 0.33em !important;
}

.quarto-title-authors {
  justify-content: center;
}

blockquote > p {
  margin-bottom: 0.5em !important;
}